// Colors Variables

$pj-orange: #ff7a1f;
$pj-light-orange: #fff5f0;

$pj-pink: #ffdfed;
$pj-light-pink: #f7f0fe;

$pj-dark-purple: #311852;
$pj-purple: #260262;
$pj-light-purple: #4d36dc;
$pj-lighter-purple: #ebe5ff;


// Measures Variables

$header-height: 80px;
